# Porcupine 语音唤醒配置
Picovoice:
  UsePico: false
  AccessKey: "Your key"

# TeamSpeak 服务器配置 
TeamSpeak:
  Host: "127.0.0.1"
  Username: "[bot] bot name"
  ServerPassword: "114514"
  
ModelApi:
  LlmKey: "Your key"
  Model: "mimo-v2-omni"
  Endpoint: "https://api.xiaomimimo.com/v1/chat/completions"
  MaxContextTurns: 10
  
Texts:
  HelloAudio: "我来啦！"
  UserPrompts: "请和音频中的人对话。如果音频中无法识别正常的人声，请说“我没听清”。音频中的人用什么语言你就用什么语言回复。请不要使用任何markdown语法，仅使用正常的文字和标点。"
  ResponseAudio: "请讲！"
  
DoubaoTts:
  AppId: ""
  AccessToken: ""
  Voice: "zh_female_meilinvyou_uranus_bigtts"
  Speed: 1.15
  
QwenTts:
  ApiKey: ""
  Model: "qwen3-tts-vc-2026-01-22"
  BaseUrl: "https://dashscope.aliyuncs.com/api/v1/services/audio/tts/customization"
  VoiceSamplingDuration: 10
  VoiceSamplingTimeout: 120
